//REFACTOR🎣/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//TODO:
//4 (optionally) fixing the form with grid. 
//footer z01.
    //4.01 footer>z06.
//4.02 tweaking.
//5. host this (at some point).

//HEADER: 
//z02. take into account vertical-scroll-bar.🧙‍♂️.

//SMALL MENU:

//PICTURE & TEXT: 
//crop smaller img in photoshop to use & control w/media-queries.
    //find a different way - manually experimenting with what looks good (maming sure it doesn't crop out picture).

//FORM
//z02 get a grid layout with Flexbox.
//z01 space between title and 'take the tour', in mobile becomes too big.

//FOOTER:
//z01. SO - is this best solution (magic number's used to determine when `section - justify-content: flex-start` on its `.wrapper` children is enacted).
//z03. profes website's border-top somehow correlates with size of content. You arbritrarily set it to 90%. (And it jumps to 100%). 
//z02. when grid, amend it so that it can cope, neatly, with a title (or, I suppose, 'entry') spanning 2+ lines and all 'cells' still being horizontally adjacent
//z04. make `section` take up full row under certain vw (like in profes websites). 
//z06. img#1

//TWEAKING:
//z01. font.
//z02. tweaking dimensions

//SCALING-FOR-A-BIG-SCREEN: 
//SAFARI: 
//ANIMATIONS: HEADER: 1. Underline menu-items. 2. Menu, in non-mobile mode, opens up from side.
//RESETS/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*, ::before, ::after {
    margin: 0;
    box-sizing: border-box;
    color: unset;//stops hyperlink appearing purple
}

#root {
    // min-width: var(--min-width-of-page);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: initial;
}

h1, h2 {
    font-size: 1.5em;
    margin: 2rem 0;//0.83rem 0;
    text-align: center;
    font-weight: 700;
}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    // margin: 2em 0;//1.33em 0;
    margin-bottom: 2rem;
}

p {
    margin-bottom: var(--p-margin);
    text-align: center;
}

button {
    //all attributes added from Chrome user-agent-stylesheet.
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    //of which I've changed (so I can use this semantic `button` tag)🧙‍♂️Is this even a good idea? I can't predict other/future user-agent stylsheets...
    color: initial;
    background-color: initial;
    font: initial;
    font-family: inherit;
    padding: initial;//1px 6px;
    border-width: initial;//2px;
    border-style: initial;//outset;
    border-color: initial;
    border-image: initial;
    //particular to this project:
    background-color: var(--dark-blue); color: white;
    padding: calc( 0.5 * var(--p-margin)) calc( 2 * var(--p-margin));
    border-radius: var(--arbitrarily-large-number);
}

input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: initial;
    background-color: initial;
    box-sizing: border-box;
    padding: initial;
    border-width: initial;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap');

html {
    //font
    font-family: 'Nunito', sans-serif;
    //colors
    --dark-blue: #001e50;
    --dark-blue-purple: #201b65;
    --orange: #e65019;
    --light-mint: #19e6a2;
    --light-blue: #00B1EB;
    --grey: #6a767d;
    --dark-grey: #3b4145;
    //dimensions
    --direct-descendants-of-main-max-width: 2560px;
    --min-width-of-page: 320px;
    //header
    --header-height: clamp(75px, 0.125 * var(--vh100), 5rem);
    --vw-suitable-for-small-menu: 700px;
    --hamburger-button-height: calc(2 * 1rem);//1.5
    --menu-button-width-dimension: 5em;
    --menu-button-horizontal-margin: 0.5em;
    --hf-border: solid var(--dark-blue) 2px;
    //p
    --p-margin: 1em;
    --min-character-width: 30ch; --max-character-width: 60ch;
    //misc 
    --golf-min-height: 350px;
    --arbitrarily-large-number: 1000000px;
}

$vw-suitable-for-small-menu: 700px;

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

@mixin grid-container-template($column-value: 1fr, $row-value: 1fr) {
    display: grid;
    grid-template-columns: $column-value;
    grid-template-rows: $row-value;
}

@mixin grid-container-horizontally-and-vertically-center-GIs($column-value: 1fr, $row-value: 1fr) {
  @include grid-container-template($column-value, $row-value);
  place-items: center;
}
//STRUCTURAL/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
header {
    height: var(--header-height);
    //FLEX
    display: flex; justify-content: flex-end;
    //GRID
    // @include grid-container-template(20% 40%, minmax(0, 1fr)); justify-content: end;
    > .img-container {
        flex-basis: 20%;
    } 
    > nav {
        //FLEX
        flex-basis: 40%;
        display: flex; 
        align-items: center;
        // justify-content: space-evenly; 
        //GRID
        // @include grid-container-horizontally-and-vertically-center-GIs(repeat(3, 1fr), 1fr);//need minmax value here: `repeat(3, minmax(auto, 150px)), 1fr`
        // justify-content: center;
        > * {
            flex-basis: 0px;
            flex-grow: 1;
            text-align: center;
        }
        @media screen and (max-width: $vw-suitable-for-small-menu) {
            justify-content: flex-end;
            > .img-container { //`img #menu-button was actually slightly vertically shorter than her container but making her container `display: flex; align-content: center` fixed it (so that the container became the same sixe of the `img` (32px) - why?
                flex-basis: initial;
                flex-grow: initial;
                display: flex; align-content: center;
                #menu-button {
                    margin: 0 var(--menu-button-horizontal-margin);
                    height: var(--hamburger-button-height);
                    width: var(--menu-button-width-dimension);
                }
            }
        }
    }
    @media screen and (max-width: $vw-suitable-for-small-menu) {
        // > nav {
            //GRID
            // @include grid-container-horizontally-and-vertically-center-GIs(auto, 1fr);
            // justify-content: end;
        // }
    }
    border-bottom: var(--hf-border);
}

#small-menu {
    min-height: var(--vh100);
    background-color: var(--dark-blue); color: white;
    //FLEX
    section[class*=dummy-header] {
        height: var(--header-height);
    }
    .dummy-header {
        display: flex; justify-content: flex-end; align-items: center;
        .img-container {
            margin: 0 var(--menu-button-horizontal-margin);
            height: var(--hamburger-button-height);
            width: var(--menu-button-width-dimension);
        }
    }
    .h3-container {
        min-height: calc(var(--vh100) - calc(2 * var(--header-height)));
        display: flex; flex-direction: column; align-items: initial;
        >*{
            flex-basis: 0; flex-grow: 1; min-height: 100px;
            display: flex; justify-content: center; align-items: center;
        }
    }
    //GRID
    // @include grid-container-horizontally-and-vertically-center-GIs(auto, var(--header-height) repeat(3, 1fr) var(--header-height));
    // > * {
    //     height: var(--header-height);
    //     @include grid-container-horizontally-and-vertically-center-GIs(auto, auto);
    // }
    // > *:first-child {
    //     justify-self: end;
    //     align-self: start;
    //     #exit-image {
    //         margin: 0 var(--menu-button-horizontal-margin);
    //         height: var(--hamburger-button-height);
    //         width: var(--menu-button-width-dimension);
    //         color: initial; filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(105deg) brightness(110%) contrast(101%);
    //     }
    // }
}

main { 
    min-height: calc(var(--vh100) - var(--header-height) - var(--footer-height));
    >* {
        max-width: var(--direct-descendants-of-main-max-width); margin: 0 auto;
    }
    #picture-text-container {
        --percentage-of-image: 55%;
        --margin-between-vertical-item-edges-and-container: calc(2 * var(--p-margin));
        --max-height-of-GIs: 200px;
        display: flex; flex-wrap: wrap;
        margin-bottom: 2rem;
        > * {
            flex-grow: 1;
        }
        > .img-container {
            width: var(--percentage-of-image);//calc(max(500px, var(--percentage-of-image)));
            height: auto;
            min-height: 422px;//400px;//var(--golf-min-height);
            max-height: 500px;
            background-color: var(--dark-blue);
            > img {
                object-fit: cover;
                @media screen and (min-width: 1200px) {
                    object-position: 50% 70%;
                    // object-fit: contain;
                }
            }
            @media screen and (max-width: 400px) {
                min-height: initial;
                #car-img {
                    object-fit: contain;
                }
            }
        }
        > .txt-container {
            width: calc(max(35ch, 100% - var(--percentage-of-image)));//max-height: 600px;
            display: flex; flex-wrap: wrap; justify-content: center; align-content: center;
            >* {
                flex-basis: var(--arbitrarily-large-number);
                max-width: var(--max-character-width);
                margin-left: calc(1 * var(--p-margin));
                margin-right: calc(1 * var(--p-margin));
            }
            .button-container {
                margin-top: calc(1 * var(--p-margin));
                button {
                    margin: 0 auto;
                }
            }
            p:first-child {
                margin-top: var(--margin-between-vertical-item-edges-and-container);
            }
            >*:last-child {
                margin-bottom: var(--margin-between-vertical-item-edges-and-container);
                @media screen and (max-width: 745px) {
                    // margin-bottom: 1rem;
                }
            }
        }
    }
    #form-container {
        h1 {
            margin-top: 0px;
        }
        form {
            // width: calc(min(850px, 90%));
            margin: 0 auto;// 1rem auto;
            display: flex; flex-direction: column; align-items: center;
            //justify-content: center; //
            > * {
                margin-bottom: 1rem;
            }
            button {
                background-color: var(--orange);
            }
        }
        // max-width: 800px;//🧙‍♂️reasonable scanning limitation
        // padding-top: 2rem;
        // border-top: solid 1px var(--dark-blue); //border: solid 1px var(--dark-blue); 
        // border-bottom: solid 1px var(--dark-blue); //border: solid 1px var(--dark-blue); 
        margin-bottom: 1rem;
    }
    #scroll-bar-test {
        background-color: orange;
        width: calc(100vw - (100vw - 100%));
    }
}

// .object-fit-contain {
//     object-fit: contain !important;
// }
// .min-height-initial {
//     min-height: initial !important;
// }

footer {
    width: calc(min(850px, 90%)); 
    margin: 0 auto; 
    border-top: var(--hf-border);
    padding-top: 2rem; 
    // padding-left: 1rem; padding-right: 1rem;//padding-left: 2rem; //padding-bottom: 1rem;
    display: flex; flex-wrap: wrap; 
    //GRID
    // @include grid-container-horizontally-and-vertically-center-GIs(repeat(3, 1fr), auto); column-gap: 2em;
    // align-items: start;
    >* {
        flex-basis: 0px;
        flex-grow: 1;
        padding: 0 1rem;// padding-right: 2em;
        // min-width: 125px; 
        margin-bottom: 1rem;
        //FLEX
        display: flex; justify-content: center;
        @media screen and (max-width: 400px) {//🧙‍♂️magic number
            justify-content: flex-start;
            // > * {
            //     margin-left: 1rem;
            // }
        }
        //GRID
        // display: grid; justify-content: center;//🧙‍♂️if applying this, sol.i) need a magic-num break-point where you stop centering content of sections sol.ii) 
        // @media screen and (max-width: 400px) {
        //     justify-content: initial;
        // }
        h4 {
            margin-top: initial; 
            font-weight: 800;
        }
        p {
            font-size: 14px;
            color: var(--dark-blue-purple);
            text-align: initial;
        }
    }
    @media screen and (max-width: $vw-suitable-for-small-menu) {
        width: 100%;
    }
}