@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap");
*, ::before, ::after {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: unset;
}

h1, h2, h3, h4 {
  font-weight: initial;
}

h1, h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  margin: 1.33em 0;
}

p {
  margin-bottom: var(--p-margin);
  text-align: center;
}

button {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: default;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0em;
  color: initial;
  background-color: initial;
  font: initial;
  font-family: inherit;
  padding: initial;
  border-width: initial;
  border-style: initial;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
}

html {
  font-family: 'Nunito', sans-serif;
  --dark-blue: #001e50;
  --dark-blue-purple: #201b65;
  --light-blue: #00B1EB;
  --grey: #6a767d;
  --dark-grey: #3b4145;
  --header-height: clamp(75px, 0.125 * var(--vh100), 5rem);
  --vw-suitable-for-small-menu: 700px;
  --hamburger-button-height: calc(1.5 * 1rem);
  --menu-button-width-dimension: 5em;
  --menu-button-horizontal-margin: 0.5em;
  --hf-border: solid var(--dark-blue) 2px;
  --p-margin: 1em;
  --min-character-width: 30ch;
  --max-character-width: 65ch;
  --footer-height: 200px;
  --arbitrarily-large-number: 1000000px;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}

header {
  height: var(--header-height);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 40%;
      grid-template-columns: 20% 40%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border-bottom: var(--hf-border);
}

header > img {
  height: 100%;
}

header > nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 700px) {
  header > nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    place-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

header #menu-button {
  margin: 0 var(--menu-button-horizontal-margin);
  height: var(--hamburger-button-height);
  width: var(--menu-button-width-dimension);
}

#small-menu {
  height: var(--vh100);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 30% (1fr)[3] 30%;
      grid-template-rows: 30% repeat(3, 1fr) 30%;
  place-items: center;
}

#small-menu > * {
  height: var(--header-height);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  place-items: center;
}

#small-menu > *:first-child {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

#small-menu > *:first-child #exit-image {
  margin: 0 var(--menu-button-horizontal-margin);
  height: var(--hamburger-button-height);
  width: var(--menu-button-width-dimension);
}

main {
  min-height: calc(var(--vh100) - var(--header-height) - var(--footer-height));
}

main #picture-text-container {
  --percentage-of-image: 55%;
  --margin-between-vertical-item-edges-and-container: calc(2 * var(--p-margin));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #picture-text-container > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main #picture-text-container > img {
  -o-object-fit: contain;
     object-fit: contain;
  width: var(--percentage-of-image);
  background-color: var(--dark-blue);
}

main #picture-text-container > div {
  width: calc(max(30ch, 45%));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  place-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

main #picture-text-container > div * {
  max-width: var(--max-character-width);
  margin-left: var(--p-margin);
  margin-right: var(--p-margin);
}

main #picture-text-container > div p:first-child {
  margin-top: var(--margin-between-vertical-item-edges-and-container);
}

main #picture-text-container > div button {
  background-color: var(--dark-blue);
  color: white;
  padding: calc( 0.5 * var(--p-margin)) calc( 2 * var(--p-margin));
  border-radius: var(--arbitrarily-large-number);
  margin-top: calc(1 * var(--p-margin));
}

main #picture-text-container > div > *:last-child {
  margin-bottom: var(--margin-between-vertical-item-edges-and-container);
}

footer {
  min-height: var(--footer-height);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  place-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-top: var(--hf-border);
}

footer > * {
  text-align: center;
}

footer > * > h4 {
  font-weight: 800;
}

footer > * p {
  font-size: 14px;
  color: var(--dark-blue-purple);
}
/*# sourceMappingURL=main.css.map */